<article class="productItem">
  <img src="<%= data.imageUrl %>" alt="<%= data.title %>" />
  <div class="productItemContent">
    <h2><%= data.title %></h2>
    <div class="productItemActions">
      <% if (locals.isAdmin) { %>
        <a class="btn btnAlt" href="/admin/products/update/<%= data.id %>">View & Edit</a>
        <button class="btn btnAlt" data-productid="<%=data.id%>" data-csrf="<%= locals.csrfToken %>">Delete</button> 
        <% } else  { %>
          <a class="btn btnAlt" href="/products/<%= data.id %>">View details</a>
      <% }%>
    </div>
  </div>
</article> 