<li>
	<article class="cartItem">
		<div cartItemInfo>
			<h2><%= data.product.title %> </h2>
			<p>$<span class="totalPriceForProduct"><%= data.totalPrice.toFixed(3) %></span> <span class="productPrice">($<%= (data.product.price.toFixed(3)) %>)</span></p>
		</div>
		<form class="cartItemManagement" data-productid="<%= data.product.id %>" data-csrf="<%= locals.csrfToken %>">
			<input type="number" value="<%= data.quantity %>">
			<button class="btn btn-alt">Update</button>
		</form>
	</article>
</li>