<form action="<%= submitPath %>/?_csrf=<%= locals.csrfToken %> " method="POST" enctype="multipart/form-data" >
  <p>
    <label for="productTitle">Title</label>
    <input type="text" name="productTitle" id="productTitle" value="<%= product.title %>" required>
  </p>

  <div id="imageUploadControl">
    <p>
      <label for="productImage">Product Image</label>
      <input type="file" name="productImage" id="productImage" accept="image/png, image/jpg" value="<%= product.title %>" <% if (imageRequired) {%> required <%} %> >
    </p>
    <img src="" alt="Selected IMAGE" id="productImagePreview">
  </div>

  <p>
    <label for="productSummary">Product Summary</label>
    <input type="text" name="productSummary" id="productSummary" maxlength="250" value="<%= product.summary %>" required>
  </p>
  <p>
    <label for="productPrice">Product Price</label>
    <input type="number" name="productPrice" id="productPrice" min="0.01" step="0.01" value="<%= product.price %>" required>
  </p>
  <p>
    <label for="productDescription">Product Description</label>
    <textarea name="productDescription" id="productDescription" rows="7" required><%= product.description %></textarea>
  </p>

  <p>
    <button type="reset" class="btn btn-alt">Reset</button>
    <button type="btn" class="btn">Save</button>
  </p>
</form>