<%-include('../../include/head.ejs', { pageTitle: 'Your Cart - 718SNKRS' })%>
<link rel="stylesheet" href="/styles/cart.css">
<script  src="/scripts/cartItemManagement.js" defer></script>
<!-- styles -->

</head>

<body>
	<header>
		<%-include('../../include/header.ejs')%>
	</header>

	<main>
		<h1>718 CART</h1>
		<section>
			<% if (locals.cart.items.length>0) { %>
				<ul id="cartItems">
					<% for( const product of locals.cart.items) { %>
						<%-include('../../include/cartItem.ejs', {data: product})%>
					<% } %>
				</ul>
			<% } %>
		</section>
		<section id="cartDetails">
			<p>Total: $<span id="cartTotal"><%= locals.cart.totalPrice.toFixed(3) %></span></p>
			<% if (locals.isAuth && locals.cart.totalQuantity > 0) { %> 
				<form action="/orders" method="POST">
					<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
					<button class="btn">BUY</button>
				</form>
			<% } else if (locals.isAuth && locals.cart.totalQuantity < 0) { %> 
				<h2>add stuff to cart!</h2>
			<% } else if (!locals.isAuth) { %> 
				<a class="btn" href="/login">Login to purchase!</a>
			<% } else if (locals.cart.totalQuantity < 0) { %> 
				<p>add items to cart</p>
			<% } %> 
		</section>
	</main>

<%-include('../../include/footer.ejs')%>